# API de Eventos
# Producción: https://4fi9ot44ml.execute-api.us-east-1.amazonaws.com/prod
# Desarrollo:  https://orj83oh0pc.execute-api.us-east-1.amazonaws.com/dev
PUBLIC_EVENTS_API_URL=https://4fi9ot44ml.execute-api.us-east-1.amazonaws.com/prod

# CDN de Assets (CloudFront → S3 privado)
# Producción: https://d2zjot7yvduv1u.cloudfront.net
# Desarrollo:  https://d23d5d88jw9p2.cloudfront.net
PUBLIC_ASSETS_CDN_URL=https://d2zjot7yvduv1u.cloudfront.net

# Ruta de fotos de miembros dentro del bucket
# Prod: prod-members/prod-members-photos
# Dev:  dev-members/photos-members
PUBLIC_ASSETS_MEMBERS_PATH=prod-members/prod-members-photos

# Ruta de logos dentro del bucket
# Prod: prod-assets/prod-logos
# Dev:  dev-assets/dev-logos
PUBLIC_ASSETS_LOGOS_PATH=prod-assets/prod-logos
